**Intialize the Saprk Session**

In [1]:
from pyspark.sql import SparkSession
spark = (
    SparkSession.builder\
    .appName("SalesData Analysis")\
    .getOrCreate()
)

**DataFrame Creation and Inspection**

In [24]:
#1.Load the CSV using pyspark
a=spark.read.csv("/content/Sales_Dataset__500_Records_.csv",header=True,inferSchema=True)
a.show()
#load the csv using pandas
import pandas as pd
b=pd.read_csv("/content/Sales_Dataset__500_Records_.csv")
b.head()
#2.Display first 5 and last 5 records
print("First five rows:")
a.show(5)
print("last five rows:")
a.orderBy(a.OrderID.desc()).show(5)
#3.Print schema and data types
a.printSchema()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

First five rows:
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

last five rows:
+-------+-----------------+---------------+------+----------+--------------+--------+-----------+-----------+-------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|       City|PaymentMode|CustomerSince|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------+-----------+-------------+
|   9996|    Brandon Munoz|           Toys|839.38|2024-09-25|     Delivered|    0.08| Pamelaside|Credit Card|   2021-04-19|
|   9992|   Joshua Roberts|          Books|960.97|2023-07-25|       Pending|     0.2| Coreyshire|     Wallet|   2022-06-28|
|   9970|Elizabeth Goodman|           Toys|821.02|2025-05-04|     Cancelled|    0.29| Jasonhaven|       Cash|   2021-01-09|
|   9962|   Vanessa Morgan|           Toys|701.01|2024-09-21|       Pending|    0.06|Bushchester|       Cash|   2023-03-14|
|   9920|       James Hall|           Toys| 280.8|2024-05-25|     Cancelled|    0.28|Ericborough|     Wallet|   2020-11-24|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------+-----------+-------------+
only showing top 5 rows

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

**Selection, Renaming, and Filtering**

In [7]:
#1.Select OrderID, CustomerName, Amount
a.select("OrderID", "CustomerName", "Amount").show()
#2.Rename Amount to OrderAmount
df_renamed = a.withColumnRenamed("Amount", "OrderAmount")
df_renamed.select("OrderID", "OrderAmount").show()
#3.Filter where Amount > 500
a.filter(a.Amount > 500).show()
#4.Filter by city
a.filter(a.City == "New York").show()
a.filter(a.City == "Port Erin").show()

+-------+------------------+------+
|OrderID|      CustomerName|Amount|
+-------+------------------+------+
|   2824|     Donald Walker|783.04|
|   7912|      Brandon Hall| 905.0|
|   4611|      Donald Booth|657.96|
|   3547|    Phillip Garcia|606.89|
|   8527|      Valerie Gray| 77.87|
|   4150|       Amber Perez|352.37|
|   5554|        Roy Martin|148.33|
|   2169|    Carolyn Daniel| 14.09|
|   6313|       Patty Perez| 79.83|
|   6155|Jonathan Wilkerson|882.68|
|   9830|       Kevin Hurst|870.55|
|   9085| Anthony Rodriguez|921.73|
|   2040|     Kyle Mcdonald|327.52|
|   6573|    Jeffrey Chavez|676.02|
|   2743|  Elizabeth Fowler| 47.06|
|   9837|     Tammy Sellers| 46.15|
|   6038|     David Bradley|348.51|
|   3060|       John Pierce|362.09|
|   4295|   Jennifer Powers|684.26|
|   5061|    George Chapman|251.89|
+-------+------------------+------+
only showing top 20 rows

+-------+-----------+
|OrderID|OrderAmount|
+-------+-----------+
|   2824|     783.04|
|   7912|      905.0|
|   4611|     657.96|
|   3547|     606.89|
|   8527|      77.87|
|   4150|     352.37|
|   5554|     148.33|
|   2169|      14.09|
|   6313|      79.83|
|   6155|     882.68|
|   9830|     870.55|
|   9085|     921.73|
|   2040|     327.52|
|   6573|     676.02|
|   2743|      47.06|
|   9837|      46.15|
|   6038|     348.51|
|   3060|     362.09|
|   4295|     684.26|
|   5061|     251.89|
+-------+-----------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   9834|    Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|
|   3296|     Donald Wright|        Fashion|579.99|2025-05-20|     Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|
|   4502|  Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1931|      Angela Lopez|    Electronics|686.21|2024-09-07|     Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|
|   5033|     Amanda Miller|           Toys|552.76|2024-10-25|       Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|
|   6147|      James Powers|           Toys|561.91|2024-01-22|     Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|
|   2127|      Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|
|   5905|   Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   2512|   Sandra Williams|           Toys|630.21|2024-02-17|       Pending|    0.08|        Lake Tina|        UPI|   2021-02-08|
|   8239|     Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

+-------+------------+---------------+------+---------+--------------+--------+----+-----------+-------------+
|OrderID|CustomerName|ProductCategory|Amount|OrderDate|DeliveryStatus|Discount|City|PaymentMode|CustomerSince|
+-------+------------+---------------+------+---------+--------------+--------+----+-----------+-------------+
+-------+------------+---------------+------+---------+--------------+--------+----+-----------+-------------+

+-------+-----------------+---------------+------+----------+--------------+--------+---------+-----------+-------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|     City|PaymentMode|CustomerSince|
+-------+-----------------+---------------+------+----------+--------------+--------+---------+-----------+-------------+
|   9085|Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|Port Erin|        UPI|   2022-12-15|
+-------+-----------------+---------------+------+----------+--------------+--------+---------+-----------+-------------+

**Data Manipulation**

In [10]:
from pyspark.sql.functions import col,when
#1.Drop CustomerSince
df_dropped = a.drop("CustomerSince")
df_dropped.show()
#2.Add FinalAmount = Amount - (Amount * Discount)
a = a.withColumn("FinalAmount", col("Amount") - (col("Amount") * col("Discount")))
a.show()
#3.Sort by FinalAmount descending
a.orderBy(col("FinalAmount").desc()).show()
#4.Replace "Cancelled" with "Order Cancelled"
df_status_updated = a.withColumn("DeliveryStatus", when(col("DeliveryStatus") == "Cancelled", "Order Cancelled").otherwise(col("DeliveryStatus")))
df_status_updated.select("OrderID", "DeliveryStatus").show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|       FinalAmount|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|          515.8565|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash| 64.63210000000001|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|          267.8012|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|          108.2809|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|10.567499999999999|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|           40.9422|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|           43.8425|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|183.87969999999999|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+------------------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
only showing top 20 rows

+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|      FinalAmount|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
|   5573|   Jordan Frazier|          Books|981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|   2021-07-12|          961.429|
|   8474|      Heidi Brown|    Electronics|968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|   2023-03-19|         949.5318|
|   8889|      Karen Garza|          Books| 998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|   2020-12-17|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|         923.9868|
|   9806|    Samantha Gill|      Groceries|993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|   2020-10-01|         923.6481|
|   5593|   Kristy Johnson|        Fashion|961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|   2022-11-30|         913.2825|
|   2120| Alejandra Santos|    Electronics|948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|   2022-03-03|         910.8864|
|   5949|Dr. Michael Evans|           Toys|918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|   2022-05-24|908.9585999999999|
|   1422|    Hunter Kramer|          Books| 973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|   2020-08-22|          905.076|
|   2904|   Michelle Burns|        Fashion|922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|   2020-12-23|         903.8442|
|   7566|    Jesus Houston|        Fashion|899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|   2020-11-24|           899.31|
|   7511|      Regina Diaz|           Toys|932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|   2020-12-10|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|894.0781000000001|
|   1436|     James Brooks|      Groceries|978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|   2020-11-02|         890.8536|
|   6008|  Brittany Knight|          Books|903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|   2020-06-09|         885.6358|
|   9834|   Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|878.4314999999999|
|   8253|  Kevin Patterson|          Books|998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|   2021-04-20|         878.4248|
|   7912|     Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|           877.85|
|   1654|   Frank Williams|          Books|903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|   2022-10-04|         876.6666|
|   9239|    Tracy Montoya|    Electronics|897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|   2023-02-23|         861.5136|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
only showing top 20 rows

+-------+---------------+
|OrderID| DeliveryStatus|
+-------+---------------+
|   2824|       Returned|
|   7912|Order Cancelled|
|   4611|       Returned|
|   3547|       Returned|
|   8527|      Delivered|
|   4150|Order Cancelled|
|   5554|Order Cancelled|
|   2169|      Delivered|
|   6313|Order Cancelled|
|   6155|Order Cancelled|
|   9830|      Delivered|
|   9085|Order Cancelled|
|   2040|       Returned|
|   6573|Order Cancelled|
|   2743|      Delivered|
|   9837|Order Cancelled|
|   6038|       Returned|
|   3060|       Returned|
|   4295|Order Cancelled|
|   5061|        Pending|
+-------+---------------+
only showing top 20 rows

**Aggregations and GroupBy**

In [11]:
from pyspark.sql.functions import avg, sum
#1.Count of orders by DeliveryStatus
a.groupBy("DeliveryStatus").count().show()
#2.Average Amount by ProductCategory
a.groupBy("ProductCategory").agg(avg("Amount").alias("AvgAmount")).show()
#3.Total sales by City
a.groupBy("City").agg(sum("Amount").alias("TotalSales")).show()

+--------------+-----+
|DeliveryStatus|count|
+--------------+-----+
|      Returned|  117|
|     Cancelled|  149|
|     Delivered|  119|
|       Pending|  115|
+--------------+-----+

+---------------+------------------+
|ProductCategory|         AvgAmount|
+---------------+------------------+
|        Fashion| 500.6308235294116|
|      Groceries|459.51786407766957|
|    Electronics|           551.745|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

+----------------+----------+
|            City|TotalSales|
+----------------+----------+
|     Ramseymouth|    761.06|
|East Edwardshire|    291.26|
|      Thomasberg|    882.68|
|     Laurenville|    383.26|
| South Colinstad|    786.27|
|    Lake Douglas|    975.09|
|   Williamsmouth|     10.78|
|      Gordonport|    514.99|
|  West Dawnmouth|      12.8|
|        Seanbury|    814.39|
|     Sheilaville|    981.05|
|       Mollybury|    222.02|
|       Lisaville|     45.69|
| Lake Jerrymouth|    404.01|
|       Perezfort|    917.55|
|Port Nicoleshire|    133.78|
|  South Samantha|    229.46|
|     Port Willie|    788.13|
|     Waltersfort|    552.81|
|       Youngbury|    372.95|
+----------------+----------+
only showing top 20 rows

**Null Handling & Update**

In [13]:
from pyspark.sql.functions import lit
import random
df_null = a.withColumn("City", when((col("OrderID") % 5 == 0), None).otherwise(col("City")))
# Fill nulls
filled = df_null.fillna({"City": "Unknown"})
# Drop nulls
no_nulls = df_null.dropna(subset=["City"])
# Tag high-value customers
tagged = a.withColumn("CustomerType", when(col("Amount") > 800, "High Value").otherwise("Regular"))
tagged.select("OrderID", "Amount", "CustomerType").show()

+-------+------+------------+
|OrderID|Amount|CustomerType|
+-------+------+------------+
|   2824|783.04|     Regular|
|   7912| 905.0|  High Value|
|   4611|657.96|     Regular|
|   3547|606.89|     Regular|
|   8527| 77.87|     Regular|
|   4150|352.37|     Regular|
|   5554|148.33|     Regular|
|   2169| 14.09|     Regular|
|   6313| 79.83|     Regular|
|   6155|882.68|  High Value|
|   9830|870.55|  High Value|
|   9085|921.73|  High Value|
|   2040|327.52|     Regular|
|   6573|676.02|     Regular|
|   2743| 47.06|     Regular|
|   9837| 46.15|     Regular|
|   6038|348.51|     Regular|
|   3060|362.09|     Regular|
|   4295|684.26|     Regular|
|   5061|251.89|     Regular|
+-------+------+------------+
only showing top 20 rows

 **Date & Time Functions**

In [15]:
from pyspark.sql.functions import year, month, current_date, datediff,round
#1.Extract year and month from OrderDate
a.withColumn("OrderYear", year("OrderDate"))\
  .withColumn("OrderMonth", month("OrderDate"))\
  .select("OrderDate", "OrderYear", "OrderMonth")\
  .show()
#2.Calculate loyalty in years
loyalty =a.withColumn("LoyaltyYears", round(datediff(current_date(), col("CustomerSince")) / 365, 2))
loyalty.select("CustomerName", "CustomerSince", "LoyaltyYears").show()

+----------+---------+----------+
| OrderDate|OrderYear|OrderMonth|
+----------+---------+----------+
|2024-12-26|     2024|        12|
|2024-09-12|     2024|         9|
|2025-01-12|     2025|         1|
|2024-03-24|     2024|         3|
|2024-08-04|     2024|         8|
|2024-01-13|     2024|         1|
|2024-03-04|     2024|         3|
|2023-10-07|     2023|        10|
|2023-06-27|     2023|         6|
|2024-10-14|     2024|        10|
|2024-04-08|     2024|         4|
|2024-10-02|     2024|        10|
|2023-12-15|     2023|        12|
|2024-12-14|     2024|        12|
|2024-09-18|     2024|         9|
|2024-09-10|     2024|         9|
|2023-08-03|     2023|         8|
|2023-12-25|     2023|        12|
|2024-03-19|     2024|         3|
|2023-11-28|     2023|        11|
+----------+---------+----------+
only showing top 20 rows

+------------------+-------------+------------+
|      CustomerName|CustomerSince|LoyaltyYears|
+------------------+-------------+------------+
|     Donald Walker|   2020-10-15|        4.64|
|      Brandon Hall|   2022-03-15|        3.22|
|      Donald Booth|   2021-08-07|        3.82|
|    Phillip Garcia|   2020-08-08|        4.82|
|      Valerie Gray|   2022-11-15|        2.55|
|       Amber Perez|   2022-01-13|        3.39|
|        Roy Martin|   2023-04-29|         2.1|
|    Carolyn Daniel|   2021-05-09|        4.07|
|       Patty Perez|   2021-04-25|        4.11|
|Jonathan Wilkerson|   2021-06-20|        3.96|
|       Kevin Hurst|   2022-08-02|        2.84|
| Anthony Rodriguez|   2022-12-15|        2.47|
|     Kyle Mcdonald|   2021-07-21|        3.87|
|    Jeffrey Chavez|   2022-07-30|        2.85|
|  Elizabeth Fowler|   2021-02-07|        4.32|
|     Tammy Sellers|   2021-12-17|        3.46|
|     David Bradley|   2022-09-07|        2.74|
|       John Pierce|   2023-05-09|        2.07|
|   Jennifer Powers|   2020-12-06|        4.49|
|    George Chapman|   2023-02-07|        2.32|
+------------------+-------------+------------+
only showing top 20 rows

**Joins and Unions**

In [17]:
from pyspark.sql import Row
#1.Region mapping DataFrame
region_data = [
    Row(City="Lake Roberto", Region="East"),
    Row(City="Port Jesseville", Region="West"),
    Row(City="Grayside", Region="South"),
    Row(City="Lake Joseph", Region="North"),
    Row(City="Mariastad", Region="West")
]
region= spark.createDataFrame(region_data)
#2.Inner Join
inner_joined = a.join(region, on="City", how="inner")
inner_joined.show()
#Left Join
left_joined = a.join(region, on="City", how="left")
left_joined.show()
#3.Union 2023 and 2024 orders
df_2023 = a.filter(year("OrderDate") == 2023)
df_2024 = a.filter(year("OrderDate") == 2024)
union_df = df_2023.union(df_2024)
union_df.show()

+---------------+-------+--------------+---------------+------+----------+--------------+--------+-----------+-------------+------------------+------+
|           City|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|       FinalAmount|Region|
+---------------+-------+--------------+---------------+------+----------+--------------+--------+-----------+-------------+------------------+------+
|   Lake Roberto|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|          651.3804|  East|
|Port Jesseville|   4150|   Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|          267.8012|  West|
|       Grayside|   2169|Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|10.567499999999999| South|
|    Lake Joseph|   5554|    Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|          108.2809| North|
|      Mariastad|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15| 64.63210000000001|  West|
+---------------+-------+--------------+---------------+------+----------+--------------+--------+-----------+-------------+------------------+------+

+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+------------------+------+
|             City|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|       FinalAmount|Region|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+------------------+------+
|       Thomasberg|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Cash|   2021-06-20| 644.3563999999999|  NULL|
|   East Nathaniel|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|       Cash|   2021-02-07|           40.9422|  NULL|
|  Port Jesseville|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|          267.8012|  West|
|       North Chad|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       Cash|   2023-02-07|183.87969999999999|  NULL|
|    Lake Toddland|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|        UPI|   2022-09-07|268.35269999999997|  NULL|
|     Lake Joyside|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|Credit Card|   2020-10-15|           665.584|  NULL|
|       Brandtside|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Cash|   2023-05-09|351.22729999999996|  NULL|
|   West Elizabeth|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|       Cash|   2021-04-30|           572.715|  NULL|
|Lake Jenniferside|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|     Wallet|   2021-07-21|307.86879999999996|  NULL|
|        Port Erin|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        UPI|   2022-12-15| 894.0781000000001|  NULL|
|      Teresaburgh|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|     Wallet|   2022-07-30|          547.5762|  NULL|
|     Lake Roberto|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|          651.3804|  East|
|       Tracyville|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|        UPI|   2021-12-17|           43.8425|  NULL|
|      Jeffreyberg|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|     Wallet|   2022-08-02|           679.029|  NULL|
|      Lake Joseph|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|          108.2809| North|
| West Melanieview|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|     Wallet|   2020-08-08|          515.8565|  NULL|
|    New Jamesside|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|     Wallet|   2022-03-15|            877.85|  NULL|
|         Grayside|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|10.567499999999999| South|
|        Mariastad|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15| 64.63210000000001|  West|
|      Richardland|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|Credit Card|   2021-04-25|           70.2504|  NULL|
+-----------------+-------+------------------+---------------+------+----------+--------------+--------+-----------+-------------+------------------+------+
only showing top 20 rows

+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
|OrderID|    CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
|   2169|  Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|
|   6313|     Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|
|   2040|   Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|
|   6038|   David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|
|   3060|     John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|
|   5061|  George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|
|   1964|    Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|           572.715|
|   2612|Nicholas Mcbride|        Fashion|219.05|2023-08-26|     Delivered|    0.27|       East James|        UPI|   2022-04-29|          159.9065|
|   1828|  Kimberly Smith|           Toys| 89.01|2023-08-14|     Delivered|    0.04|     East Richard|Credit Card|   2022-06-19|           85.4496|
|   4502|Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|           525.056|
|   1958| Kimberly Adkins|    Electronics| 98.66|2023-07-17|     Cancelled|    0.13|  New Thomashaven|     Wallet|   2021-02-01|           85.8342|
|   5905| Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30| 608.3063999999999|
|   8239|   Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|          555.1728|
|   9379|      Steven Lee|          Books|181.97|2023-07-07|      Returned|    0.22|        Smithside|        UPI|   2023-05-04|          141.9366|
|   3851|Elizabeth Kelley|        Fashion|517.15|2023-06-03|     Cancelled|    0.19|    Justinchester|Credit Card|   2022-11-19|418.89149999999995|
|   1757|   John Atkinson|          Books|724.04|2023-07-29|      Returned|    0.06|       Perryshire|       Cash|   2021-03-31| 680.5975999999999|
|   9486|   Justin Lowery|    Electronics|554.55|2023-09-05|       Pending|    0.24|    Andersonmouth|     Wallet|   2023-04-05|421.45799999999997|
|   3607|     Karen Green|          Books|621.24|2023-12-12|     Cancelled|    0.18|       Katiehaven|        UPI|   2022-06-24|          509.4168|
|   4919|  Billy Mitchell|    Electronics|653.51|2023-12-31|     Delivered|    0.08|         Luisside|        UPI|   2020-10-05|          601.2292|
|   3267| James Hernandez|          Books|593.98|2023-11-16|      Returned|     0.2|   South Rickside|     Wallet|   2022-05-26|           475.184|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
only showing top 20 rows

**Complex JSON Simulation**

In [20]:
from pyspark.sql.functions import to_json, struct, from_json, schema_of_json
#1.Convert to JSON string
sales_json =a.withColumn("json_data", to_json(struct([col(c) for c in a.columns])))
sales_json.select("json_data").show(truncate=False)
#2.Load back to DataFrame
sample_json = sales_json.select("json_data").first()["json_data"]
json_schema = schema_of_json(sample_json)
df_loaded = sales_json.select(from_json("json_data", json_schema).alias("data")).select("data.*")
df_loaded.show()
#save the data in json
a.write.mode("overwrite").json("sales_json")

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|json_data                                                                                                                                                                                                                                                                        |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"OrderID":2824,"CustomerName":"Donald Walker","ProductCategory":"Books","Amount":783.04,"OrderDate":"2024-12-26","DeliveryStatus":"Returned","Discount":0.15,"City":"Lake Joyside","PaymentMode":"Credit Card","CustomerSince":"2020-10-15","FinalAmount":665.584}              |
|{"OrderID":7912,"CustomerName":"Brandon Hall","ProductCategory":"Groceries","Amount":905.0,"OrderDate":"2024-09-12","DeliveryStatus":"Cancelled","Discount":0.03,"City":"New Jamesside","PaymentMode":"Wallet","CustomerSince":"2022-03-15","FinalAmount":877.85}                |
|{"OrderID":4611,"CustomerName":"Donald Booth","ProductCategory":"Fashion","Amount":657.96,"OrderDate":"2025-01-12","DeliveryStatus":"Returned","Discount":0.01,"City":"Lake Roberto","PaymentMode":"Wallet","CustomerSince":"2021-08-07","FinalAmount":651.3804}                 |
|{"OrderID":3547,"CustomerName":"Phillip Garcia","ProductCategory":"Fashion","Amount":606.89,"OrderDate":"2024-03-24","DeliveryStatus":"Returned","Discount":0.15,"City":"West Melanieview","PaymentMode":"Wallet","CustomerSince":"2020-08-08","FinalAmount":515.8565}           |
|{"OrderID":8527,"CustomerName":"Valerie Gray","ProductCategory":"Toys","Amount":77.87,"OrderDate":"2024-08-04","DeliveryStatus":"Delivered","Discount":0.17,"City":"Mariastad","PaymentMode":"Cash","CustomerSince":"2022-11-15","FinalAmount":64.63210000000001}                |
|{"OrderID":4150,"CustomerName":"Amber Perez","ProductCategory":"Books","Amount":352.37,"OrderDate":"2024-01-13","DeliveryStatus":"Cancelled","Discount":0.24,"City":"Port Jesseville","PaymentMode":"Cash","CustomerSince":"2022-01-13","FinalAmount":267.8012}                  |
|{"OrderID":5554,"CustomerName":"Roy Martin","ProductCategory":"Toys","Amount":148.33,"OrderDate":"2024-03-04","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Lake Joseph","PaymentMode":"Cash","CustomerSince":"2023-04-29","FinalAmount":108.2809}                        |
|{"OrderID":2169,"CustomerName":"Carolyn Daniel","ProductCategory":"Electronics","Amount":14.09,"OrderDate":"2023-10-07","DeliveryStatus":"Delivered","Discount":0.25,"City":"Grayside","PaymentMode":"Credit Card","CustomerSince":"2021-05-09","FinalAmount":10.567499999999999}|
|{"OrderID":6313,"CustomerName":"Patty Perez","ProductCategory":"Groceries","Amount":79.83,"OrderDate":"2023-06-27","DeliveryStatus":"Cancelled","Discount":0.12,"City":"Richardland","PaymentMode":"Credit Card","CustomerSince":"2021-04-25","FinalAmount":70.2504}             |
|{"OrderID":6155,"CustomerName":"Jonathan Wilkerson","ProductCategory":"Fashion","Amount":882.68,"OrderDate":"2024-10-14","DeliveryStatus":"Cancelled","Discount":0.27,"City":"Thomasberg","PaymentMode":"Cash","CustomerSince":"2021-06-20","FinalAmount":644.3563999999999}     |
|{"OrderID":9830,"CustomerName":"Kevin Hurst","ProductCategory":"Books","Amount":870.55,"OrderDate":"2024-04-08","DeliveryStatus":"Delivered","Discount":0.22,"City":"Jeffreyberg","PaymentMode":"Wallet","CustomerSince":"2022-08-02","FinalAmount":679.029}                     |
|{"OrderID":9085,"CustomerName":"Anthony Rodriguez","ProductCategory":"Groceries","Amount":921.73,"OrderDate":"2024-10-02","DeliveryStatus":"Cancelled","Discount":0.03,"City":"Port Erin","PaymentMode":"UPI","CustomerSince":"2022-12-15","FinalAmount":894.0781000000001}      |
|{"OrderID":2040,"CustomerName":"Kyle Mcdonald","ProductCategory":"Toys","Amount":327.52,"OrderDate":"2023-12-15","DeliveryStatus":"Returned","Discount":0.06,"City":"Lake Jenniferside","PaymentMode":"Wallet","CustomerSince":"2021-07-21","FinalAmount":307.86879999999996}    |
|{"OrderID":6573,"CustomerName":"Jeffrey Chavez","ProductCategory":"Books","Amount":676.02,"OrderDate":"2024-12-14","DeliveryStatus":"Cancelled","Discount":0.19,"City":"Teresaburgh","PaymentMode":"Wallet","CustomerSince":"2022-07-30","FinalAmount":547.5762}                 |
|{"OrderID":2743,"CustomerName":"Elizabeth Fowler","ProductCategory":"Electronics","Amount":47.06,"OrderDate":"2024-09-18","DeliveryStatus":"Delivered","Discount":0.13,"City":"East Nathaniel","PaymentMode":"Cash","CustomerSince":"2021-02-07","FinalAmount":40.9422}          |
|{"OrderID":9837,"CustomerName":"Tammy Sellers","ProductCategory":"Books","Amount":46.15,"OrderDate":"2024-09-10","DeliveryStatus":"Cancelled","Discount":0.05,"City":"Tracyville","PaymentMode":"UPI","CustomerSince":"2021-12-17","FinalAmount":43.8425}                        |
|{"OrderID":6038,"CustomerName":"David Bradley","ProductCategory":"Fashion","Amount":348.51,"OrderDate":"2023-08-03","DeliveryStatus":"Returned","Discount":0.23,"City":"Lake Toddland","PaymentMode":"UPI","CustomerSince":"2022-09-07","FinalAmount":268.35269999999997}        |
|{"OrderID":3060,"CustomerName":"John Pierce","ProductCategory":"Toys","Amount":362.09,"OrderDate":"2023-12-25","DeliveryStatus":"Returned","Discount":0.03,"City":"Brandtside","PaymentMode":"Cash","CustomerSince":"2023-05-09","FinalAmount":351.22729999999996}               |
|{"OrderID":4295,"CustomerName":"Jennifer Powers","ProductCategory":"Electronics","Amount":684.26,"OrderDate":"2024-03-19","DeliveryStatus":"Cancelled","Discount":0.21,"City":"Lammouth","PaymentMode":"UPI","CustomerSince":"2020-12-06","FinalAmount":540.5654}                |
|{"OrderID":5061,"CustomerName":"George Chapman","ProductCategory":"Electronics","Amount":251.89,"OrderDate":"2023-11-28","DeliveryStatus":"Pending","Discount":0.27,"City":"North Chad","PaymentMode":"Cash","CustomerSince":"2023-02-07","FinalAmount":183.87969999999999}      |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+------+-----------------+------------------+-------------+--------------+--------+------------------+----------+-------+-----------+---------------+
|Amount|             City|      CustomerName|CustomerSince|DeliveryStatus|Discount|       FinalAmount| OrderDate|OrderID|PaymentMode|ProductCategory|
+------+-----------------+------------------+-------------+--------------+--------+------------------+----------+-------+-----------+---------------+
|783.04|     Lake Joyside|     Donald Walker|   2020-10-15|      Returned|    0.15|           665.584|2024-12-26|   2824|Credit Card|          Books|
| 905.0|    New Jamesside|      Brandon Hall|   2022-03-15|     Cancelled|    0.03|            877.85|2024-09-12|   7912|     Wallet|      Groceries|
|657.96|     Lake Roberto|      Donald Booth|   2021-08-07|      Returned|    0.01|          651.3804|2025-01-12|   4611|     Wallet|        Fashion|
|606.89| West Melanieview|    Phillip Garcia|   2020-08-08|      Returned|    0.15|          515.8565|2024-03-24|   3547|     Wallet|        Fashion|
| 77.87|        Mariastad|      Valerie Gray|   2022-11-15|     Delivered|    0.17| 64.63210000000001|2024-08-04|   8527|       Cash|           Toys|
|352.37|  Port Jesseville|       Amber Perez|   2022-01-13|     Cancelled|    0.24|          267.8012|2024-01-13|   4150|       Cash|          Books|
|148.33|      Lake Joseph|        Roy Martin|   2023-04-29|     Cancelled|    0.27|          108.2809|2024-03-04|   5554|       Cash|           Toys|
| 14.09|         Grayside|    Carolyn Daniel|   2021-05-09|     Delivered|    0.25|10.567499999999999|2023-10-07|   2169|Credit Card|    Electronics|
| 79.83|      Richardland|       Patty Perez|   2021-04-25|     Cancelled|    0.12|           70.2504|2023-06-27|   6313|Credit Card|      Groceries|
|882.68|       Thomasberg|Jonathan Wilkerson|   2021-06-20|     Cancelled|    0.27| 644.3563999999999|2024-10-14|   6155|       Cash|        Fashion|
|870.55|      Jeffreyberg|       Kevin Hurst|   2022-08-02|     Delivered|    0.22|           679.029|2024-04-08|   9830|     Wallet|          Books|
|921.73|        Port Erin| Anthony Rodriguez|   2022-12-15|     Cancelled|    0.03| 894.0781000000001|2024-10-02|   9085|        UPI|      Groceries|
|327.52|Lake Jenniferside|     Kyle Mcdonald|   2021-07-21|      Returned|    0.06|307.86879999999996|2023-12-15|   2040|     Wallet|           Toys|
|676.02|      Teresaburgh|    Jeffrey Chavez|   2022-07-30|     Cancelled|    0.19|          547.5762|2024-12-14|   6573|     Wallet|          Books|
| 47.06|   East Nathaniel|  Elizabeth Fowler|   2021-02-07|     Delivered|    0.13|           40.9422|2024-09-18|   2743|       Cash|    Electronics|
| 46.15|       Tracyville|     Tammy Sellers|   2021-12-17|     Cancelled|    0.05|           43.8425|2024-09-10|   9837|        UPI|          Books|
|348.51|    Lake Toddland|     David Bradley|   2022-09-07|      Returned|    0.23|268.35269999999997|2023-08-03|   6038|        UPI|        Fashion|
|362.09|       Brandtside|       John Pierce|   2023-05-09|      Returned|    0.03|351.22729999999996|2023-12-25|   3060|       Cash|           Toys|
|684.26|         Lammouth|   Jennifer Powers|   2020-12-06|     Cancelled|    0.21|          540.5654|2024-03-19|   4295|        UPI|    Electronics|
|251.89|       North Chad|    George Chapman|   2023-02-07|       Pending|    0.27|183.87969999999999|2023-11-28|   5061|       Cash|    Electronics|
+------+-----------------+------------------+-------------+--------------+--------+------------------+----------+-------+-----------+---------------+
only showing top 20 rows

**Applying Functions**

In [22]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
# user defined function
def tag_order(amount):
    if amount > 800:
        return "Big"
    elif amount > 400:
        return "Medium"
    else:
        return "Small"
order_udf = udf(tag_order, StringType())
# Apply User defined function
df_tagged = a.withColumn("OrderTag",order_udf(col("Amount")))
df_tagged.select("OrderID", "Amount", "OrderTag").show()

+-------+------+--------+
|OrderID|Amount|OrderTag|
+-------+------+--------+
|   2824|783.04|  Medium|
|   7912| 905.0|     Big|
|   4611|657.96|  Medium|
|   3547|606.89|  Medium|
|   8527| 77.87|   Small|
|   4150|352.37|   Small|
|   5554|148.33|   Small|
|   2169| 14.09|   Small|
|   6313| 79.83|   Small|
|   6155|882.68|     Big|
|   9830|870.55|     Big|
|   9085|921.73|     Big|
|   2040|327.52|   Small|
|   6573|676.02|  Medium|
|   2743| 47.06|   Small|
|   9837| 46.15|   Small|
|   6038|348.51|   Small|
|   3060|362.09|   Small|
|   4295|684.26|  Medium|
|   5061|251.89|   Small|
+-------+------+--------+
only showing top 20 rows

In [25]:
!pip install dash

Collecting dash
  Downloading dash-3.0.4-py3-none-any.whl.metadata (10 kB)
Collecting Flask<3.1,>=1.0.4 (from dash)
  Downloading flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug<3.1 (from dash)
  Downloading werkzeug-3.0.6-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.11/dist-packages (from dash) (5.24.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.11/dist-packages (from dash) (8.7.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.11/dist-packages (from dash) (4.13.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from dash) (2.32.3)
Collecting retrying (from dash)
  Downloading retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.11/dist-packages (from dash) (1.6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from dash) (75.2.0)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (3.1.6)
Requirement already satisfied: itsdangerous>=2.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (8.2.1)
Requirement already satisfied: blinker>=1.6.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3.1,>=1.0.4->dash) (1.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly>=5.0.0->dash) (9.1.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from plotly>=5.0.0->dash) (24.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from Werkzeug<3.1->dash) (3.0.2)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata->dash) (3.21.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->dash) (2025.4.26)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from retrying->dash) (1.17.0)
Downloading dash-3.0.4-py3-none-any.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 38.8 MB/s eta 0:00:00
Downloading flask-3.0.3-py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.7/101.7 kB 7.7 MB/s eta 0:00:00
Downloading werkzeug-3.0.6-py3-none-any.whl (227 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.0/228.0 kB 15.8 MB/s eta 0:00:00
Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: Werkzeug, retrying, Flask, dash
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 3.1.3
    Uninstalling Werkzeug-3.1.3:
      Successfully uninstalled Werkzeug-3.1.3
  Attempting uninstall: Flask
    Found existing installation: Flask 3.1.1
    Uninstalling Flask-3.1.1:
      Successfully uninstalled Flask-3.1.1
Successfully installed Flask-3.0.3 Werkzeug-3.0.6 dash-3.0.4 retrying-1.3.4