In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder\
    .appName("colab pyspark setup")\
    .getOrCreate()
)

In [ ]:
data=[("Aaron",21,600000),("Sobana",20,700000),("Mickey",19,500000),("Choki",18,604999)]
columns=["Name","Age","Salary"]
df=spark.createDataFrame(data,columns)
df.show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Aaron| 21|600000|
|Sobana| 20|700000|
|Mickey| 19|500000|
| Choki| 18|604999|
+------+---+------+

In [ ]:
df.filter(df["Salary"]>600000).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|Sobana| 20|700000|
| Choki| 18|604999|
+------+---+------+

In [ ]:
df.select("Name","Salary").show()

+------+------+
|  Name|Salary|
+------+------+
| Aaron|600000|
|Sobana|700000|
|Mickey|500000|
| Choki|604999|
+------+------+

In [ ]:
df.withColumn("Bonus",df["Salary"]*0.1).show()

+------+---+------+-------+
|  Name|Age|Salary|  Bonus|
+------+---+------+-------+
| Aaron| 21|600000|60000.0|
|Sobana| 20|700000|70000.0|
|Mickey| 19|500000|50000.0|
| Choki| 18|604999|60499.9|
+------+---+------+-------+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
s=spark.read.csv('/content/drive/MyDrive/sales.csv',header="True",inferSchema="True")
s.show()

+-------+--------+------+---------+----------+
|OrderID|Customer|Amount|   Status| OrderDate|
+-------+--------+------+---------+----------+
|    101|    Amit|   200|Delivered|2023-01-15|
|    102|    Neha|   450|  Pending|2023-01-20|
|    103|    Ravi|   300|Delivered|2023-01-25|
|    104|     Ali|   700|Cancelled|2023-01-30|
|    105|    Sara|   250|Delivered|2023-02-10|
+-------+--------+------+---------+----------+

In [ ]:
s.filter(s["Status"]=="Delivered").show()

+-------+--------+------+---------+----------+
|OrderID|Customer|Amount|   Status| OrderDate|
+-------+--------+------+---------+----------+
|    101|    Amit|   200|Delivered|2023-01-15|
|    103|    Ravi|   300|Delivered|2023-01-25|
|    105|    Sara|   250|Delivered|2023-02-10|
+-------+--------+------+---------+----------+

In [ ]:
s.groupBy("Customer").sum("Amount").show()

+--------+-----------+
|Customer|sum(Amount)|
+--------+-----------+
|    Ravi|        300|
|    Amit|        200|
|    Neha|        450|
|    Sara|        250|
|     Ali|        700|
+--------+-----------+

In [ ]:
s.groupBy("Status").count().show()

+---------+-----+
|   Status|count|
+---------+-----+
|Cancelled|    1|
|Delivered|    3|
|  Pending|    1|
+---------+-----+